@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.wrap{
    background-color: #EEEEEE;
    
    padding-bottom: 57px;
}
.ntfc-body{
    background-color: #FAFAFA;
    margin-top: 77px;
    margin-left: 88px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}
.ntfc-body1{
    background-color: #FAFAFA;
    margin-top: 20px;
    margin-left: 88px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}
.ntfc-body2{
    background-color: #FAFAFA;
    margin-top: 22px;
    margin-left: 10px;
    margin-right: 80px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
}
.ntfc-all__text{
    width: 100%;
}

.ntfc-avatar{
    background: rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    padding: 20px;
    margin: 12px;
    
    display: flex;
}
.ntfc-avatar2{
    
    margin: 12px;
    
    display: flex;
}
.ntfc-avatar3{
    background: rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    padding: 28px;
    margin-top: 16px;
    margin-left: 15px;
    margin-right: 17px;
    display: flex;
}
.ntfc-title{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 24px;
    padding-top: 8px;
    
}
.ntfc-title__call{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 20px;
    padding-top: 19px;

}
.ntfc-descr{
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.543846);
    font-size: 14px;
    line-height: 20px;  
    
}
.ntfc-caller{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    line-height: 32px;
    padding-bottom: 20.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.ntfc-descr__long{
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.543846);
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: 11.5px;
    
    
}
.ntfc-time{
    display: inline-block;
    position: absolute;
    top:15px;
    right: 9px;
    color: rgba(0, 0, 0, 0.54);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px;
}
.ntfc-btn_area{
    padding-top: 14.4px;
    padding-bottom: 16px;
    display: flex;
}
.ntfc-btn_area2{
    padding-top: 22.5px;
    padding-bottom: 24px;
    display: flex;
}
.ntfc-btn{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 16px; 
    padding-right: 50px;
    color: rgba(0, 0, 0, 0.54);
    padding-left: 11.26px;
    font-weight: 500;


}

.title_small{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.54);
    margin-top: 35px;
    padding-left: 10px;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #444444;
    font-weight: 500;
}
.title-wraper{
    margin-bottom: 50px;
}